footer {
  background-color: rgb(43, 47, 51);
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
  border-top: rgb(13, 27, 21) solid 1px;
}
#copy {
  position: relative;
  margin-bottom: 0px;
  background-color: rgb(5, 5, 5);
  bottom: 0px;
}
footer > p:nth-child(2) {
  word-spacing: 20px;
}
footer > p:nth-child(2):hover {
  color: gray;
}
