body {
  background-color: rgb(33, 37, 41);
}
h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 3em;
  font-weight: lighter;
  position: relative;
  left: 700px;
  top: -300px;
  text-align: center;
  width: 500px;
}
h1::first-letter {
  color: red;
}
h1 > span {
  color: red;
}
h1::first-line {
  font-weight: 700;
  font-size: 2em;
}
img {
  border-radius: 200px;
  position: relative;
  top: 70px;
  left: 200px;
}
