body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  background-color: rgb(33, 37, 41);
  display: flex;
  height: 4vw;
}
ul {
  margin-left: 50vw;
  padding: 0;
}
li {
  float: left;
  list-style: none;
  color: white;
  font-size: 1.7vw;
  margin-right: 2vw;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5vw;
  padding: 0 0.5vw;
}
li:hover {
  color: #555;
}
#assinar:hover {
  background-color: rgb(218, 41, 28);
  color: white;
}
#logo {
  color: white;
  font-size: 2.5vw;
  margin-left: 2vw;
  font-weight: bold;
}
#assinar {
  color: rgb(218, 41, 28);
  margin-left: 5vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  border: solid rgb(218, 41, 28) 0.1vw;
  text-align: center;
  padding: 0 0.5vw;
  padding-bottom: 0;
  font-size: 1.5vw;
  font-weight: lighter;
  border-radius: 0.5vw;
}
#logo::first-letter {
  color: rgb(218, 41, 28);
}
